<h1>AWV Commons</h1>

<h2>Kaart</h2>
<div class="protractor">
  <h3>Kaart voor protractor</h3>
  <button (click)="maakZichtbaar('orthomap', !isZichtbaar('orthomap'))">{{isZichtbaar('orthomap')?'Verberg':'Toon'}}</button>
  <awv-kaart-classic *ngIf="isZichtbaar('orthomap')" class="qa-kaart" [naam]="'qa-kaart'">
    <awv-kaart-ortho-laag [titel]="'Ortho'" [groep]="'Voorgrond'"></awv-kaart-ortho-laag>
  </awv-kaart-classic>
</div>

<h3>Zonder controls, dienstkaart in kleur + districten</h3>
<div>
  <button (click)="maakZichtbaar('kleurdistricten', !isZichtbaar('kleurdistricten'))">{{isZichtbaar('kleurdistricten')?'Verberg':'Toon'}}</button>
  <awv-kaart-classic *ngIf="isZichtbaar('kleurdistricten')" [naam]="'kleurdistricten'">
    <awv-kaart-tilecache-laag [titel]="'Dienstkaart kleur'" [laagNaam]="'dienstkaart-kleur'"></awv-kaart-tilecache-laag>
    <awv-kaart-vector-laag [titel]="'Districten'" [source]="districtSource" [style]="districtStyle" [minZoom]="2"></awv-kaart-vector-laag>
  </awv-kaart-classic>
</div>

<h3>Zonder controls, enkel dienstkaart in kleur</h3>
<div>
  <button (click)="maakZichtbaar('kleursimpel', !isZichtbaar('kleursimpel'))">{{isZichtbaar('kleursimpel')?'Verberg':'Toon'}}</button>
  <awv-kaart-classic *ngIf="isZichtbaar('kleursimpel')" [naam]="'kleursimpel'">
    <awv-kaart-tilecache-laag [titel]="'Dienstkaart kleur'" [laagNaam]="'dienstkaart-kleur'"></awv-kaart-tilecache-laag>
  </awv-kaart-classic>
</div>


<h3>Ingezoomd + 1 vast feature + schaal + volledig scherm knop + hoogte &amp; breedte + single selectiemodus</h3>
<div>
  <button (click)="maakZichtbaar('ingezoomd', !isZichtbaar('ingezoomd'))">{{isZichtbaar('ingezoomd')?'Verberg':'Toon'}}</button>
  <awv-kaart-classic *ngIf="isZichtbaar('ingezoomd')" [breedte]="600" [hoogte]="600" [zoom]="6" [middelpunt]="installatieCoordinaat"
                     (geselecteerdeFeatures)="featuresGeselecteerd($event)" [selectieModus]="'single'">
    <awv-kaart-tilecache-laag [titel]="'Dienstkaart grijs'" [laagNaam]="'dienstkaart-grijs'"></awv-kaart-tilecache-laag>
    <awv-kaart-features-laag [features]="installatie" [titel]="'features'" [style]="pinIcon" [minZoom]="2"></awv-kaart-features-laag>
    <awv-kaart-schaal></awv-kaart-schaal>
    <awv-kaart-knop-volledig-scherm></awv-kaart-knop-volledig-scherm>

  </awv-kaart-classic>

  <div *ngIf="isZichtbaar('ingezoomd')">
    Geselecteerd:
    <span *ngFor="let feature of geselecteerdeFeatures">
      ID: {{ feature.get('id') }}
    </span>
  </div>

</div>


<h3>Ingezoomd + dynamisch features toevoegen + schaal + volledig scherm knop + hoogte &amp; breedte</h3>
<div>
  <button (click)="maakZichtbaar('dynamischefeatures', !isZichtbaar('dynamischefeatures'))">{{isZichtbaar('dynamischefeatures')?'Verberg':'Toon'}}</button>
  <awv-kaart-classic *ngIf="isZichtbaar('dynamischefeatures')" [breedte]="600" [hoogte]="600" [zoom]="6" [middelpunt]="installatieCoordinaat">
    <awv-kaart-tilecache-laag [titel]="'Dienstkaart grijs'" [laagNaam]="'dienstkaart-grijs'"></awv-kaart-tilecache-laag>
    <awv-kaart-features-laag [features]="installaties" [titel]="'features'" [minZoom]="2"></awv-kaart-features-laag>
    <!--[selecteerbaar]="true"
        (featureGeselecteerd)="installatieGeselecteed($event)"></awv-kaart-toon-features>-->
    <awv-kaart-schaal></awv-kaart-schaal>
    <awv-kaart-knop-volledig-scherm></awv-kaart-knop-volledig-scherm>
  </awv-kaart-classic>

  <!-- <pre *ngFor="let event of installatieGeselecteerdEvents">
    Event gegooid: {{ event | json }}
  </pre> -->
</div>


<h3>Kaart zoals in A&V</h3>
<div>
  <button (click)="maakZichtbaar('issueAV', !isZichtbaar('issueAV'))">{{isZichtbaar('issueAV')?'Verberg':'Toon'}}</button>
  <awv-av-kaart *ngIf="isZichtbaar('issueAV')"></awv-av-kaart>

  <!-- <pre *ngFor="let event of installatieGeselecteerdEvents">
    Event gegooid: {{ event | json }}
  </pre> -->
</div>

<!--
<h3>Ingezoomd dmv extent + schaal</h3>
<div>
  <awv-kaart-classic [extent]="installatieExtent">
    <awv-kaart-tilecache-laag [titel]="'Dienstkaart grijs'" [laagNaam]="'dienstkaart-grijs'"></awv-kaart-wdb-laag>
    <awv-kaart-schaal></awv-kaart-schaal>
  </awv-kaart-classic>
</div>

<h3>Ingezoomd (met WGS 84 coordinaten) + schaal</h3>
<div>
  <p>Vul zelf lengtegraad en breedtegraad in.</p>
  <p><label>Lengtegraad: </label><input [(ngModel)]="lat" type="number"/></p>
  <p><label>Breedtegraad: </label><input [(ngModel)]="long" type="number"/></p>
  <awv-kaart-classic [zoom]="7" [middelpunt]="coordinatenService.transformWgs84(lat, long)">
    <awv-kaart-tilecache-laag [titel]="'Dienstkaart kleur'" [laagNaam]="'dienstkaart-kleur'"></awv-kaart-wdb-laag>
    <awv-kaart-schaal></awv-kaart-schaal>
  </awv-kaart-classic>
</div>

<h3>Orhto laag + teken polygoon</h3>

<div>
  <awv-kaart [breedte]="800">
    <awv-kaart-ortho-laag [titel]="'Ortho'"></awv-kaart-ortho-laag>
    <awv-kaart-teken-polygoon-laag (polygonGetekend)="polygoonGetekend($event)"></awv-kaart-teken-polygoon-laag>
  </awv-kaart>

  <pre *ngFor="let event of polygoonEvents">
    Event gegooid: {{ event | json }}
  </pre>
</div>
-->

<!--
<h3>Dienstkaart, std interacties bij focus</h3>
<awv-kaart-classic [naam]="'grijsstdinteractiesfocus'" >
  <awv-kaart-wdb-laag [titel]="'Dienstkaart grijs'" [laagNaam]="'dienstkaart-grijs'"></awv-kaart-wdb-laag>
  <awv-kaart-standaard-interacties [focusVoorZoom]="true"></awv-kaart-standaard-interacties>
</awv-kaart-classic>
-->

<h3>Dienstkaart, std interacties, achtergrondselectie</h3>
<div>
  <button (click)="maakZichtbaar('achtergronden', !isZichtbaar('achtergronden'))">{{isZichtbaar('achtergronden')?'Verberg':'Toon'}}</button>
  <awv-kaart-classic *ngIf="isZichtbaar('achtergronden')" [naam]="'achtergronden'" [mijnLocatieZoom]="8">
    <awv-kaart-wmts-laag [titel]="'GRB'" [laagNaam]="'grb_bsk'" [urls]="['http://tile.informatievlaanderen.be/ws/raadpleegdiensten/wmts']"
                         [matrixSet]="'BPL72VL'" [matrixIds]="['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15']"
                         [origin]="[9928.000000, 329072.000000]"
    ></awv-kaart-wmts-laag>
    <awv-kaart-tilecache-laag [titel]="'Dienstkaart grijs'" [laagNaam]="'dienstkaart-grijs'"></awv-kaart-tilecache-laag>
    <awv-kaart-tilecache-laag [titel]="'Dienstkaart kleur'" [laagNaam]="'dienstkaart-kleur'"></awv-kaart-tilecache-laag>
    <awv-kaart-geoserver-laag [titel]="'Referentiepunten (WDB)'" [laagNaam]="'referentiepunten'" [versie]="'1.1.1'"></awv-kaart-geoserver-laag>
    <awv-kaart-blanco-laag [titel]="'Leeg'"></awv-kaart-blanco-laag>
    <awv-kaart-standaard-interacties [focusVoorZoom]="true"></awv-kaart-standaard-interacties>
    <awv-kaart-knop-achtergrondlaag-kiezer [titels]="['Dienstkaart grijs', 'Dienstkaart kleur']"></awv-kaart-knop-achtergrondlaag-kiezer>
  </awv-kaart-classic>
</div>

<h3>Straatkolken</h3>
<div>
  <button (click)="maakZichtbaar('straatkolken', !isZichtbaar('straatkolken'))">{{isZichtbaar('straatkolken')?'Verberg':'Toon'}}</button>
  <awv-kaart-classic *ngIf="isZichtbaar('straatkolken')" [naam]="'straatkolken'">
    <awv-kaart-tilecache-laag [titel]="'Dienstkaart kleur'" [laagNaam]="'dienstkaart-kleur'"></awv-kaart-tilecache-laag>
    <awv-kaart-standaard-interacties></awv-kaart-standaard-interacties>
    <awv-kaart-nosqlfs-laag [titel]="'Straatkolken'" [url]="'http://apigateway/geolatte-nosqlfs'" [database]="'featureserver'" [collection]="'straatkolken'" [style]="kolkStyle" [minZoom]="9"></awv-kaart-nosqlfs-laag>
  </awv-kaart-classic>
</div>

<h3>Fietspaden</h3>
<div>
  <button (click)="maakZichtbaar('fietspaden', !isZichtbaar('fietspaden'))">{{isZichtbaar('fietspaden')?'Verberg':'Toon'}}</button>
  <awv-kaart-classic *ngIf="isZichtbaar('fietspaden')" [naam]="'fietspaden'">
    <awv-kaart-tilecache-laag [titel]="'Dienstkaart grijs'" [laagNaam]="'dienstkaart-grijs'"></awv-kaart-tilecache-laag>
    <awv-kaart-standaard-interacties></awv-kaart-standaard-interacties>
    <awv-kaart-nosqlfs-laag [titel]="'Fietspaden'" [url]="'http://apigateway/geolatte-nosqlfs'" [database]="'featureserver'" [collection]="'fietspaden'" [styleFunction]="fietspadStyle" [minZoom]="7"></awv-kaart-nosqlfs-laag>
  </awv-kaart-classic>
</div>

<h3>Fietspaden met offsets</h3>
<div>
  <button (click)="maakZichtbaar('offsets', !isZichtbaar('offsets'))">{{isZichtbaar('offsets')?'Verberg':'Toon'}}</button>
  <awv-kaart-classic *ngIf="isZichtbaar('offsets')" [naam]="'offsets'">
    <awv-kaart-tilecache-laag [titel]="'Dienstkaart grijs'" [laagNaam]="'dienstkaart-grijs'"></awv-kaart-tilecache-laag>
    <awv-kaart-standaard-interacties></awv-kaart-standaard-interacties>
    <awv-kaart-nosqlfs-laag [titel]="'Fietspaden'" [url]="'http://apigateway/geolatte-nosqlfs'" [database]="'featureserver'" [collection]="'fietspaden'" [styleFunction]="fietspadStyleMetOffset" [minZoom]="7"></awv-kaart-nosqlfs-laag>
  </awv-kaart-classic>
</div>

<h3>Verplaatsen van lagen</h3>
<div>
  <button (click)="maakZichtbaar('verplaats', !isZichtbaar('verplaats'))">{{isZichtbaar('verplaats')?'Verberg':'Toon'}}</button>
  <div *ngIf="isZichtbaar('verplaats')">
  <p>Verplaats dienstkaar kleur.</p>
  <p><label>Naar positie: </label><input [(ngModel)]="naarPositie" type="number"/></p>
  <button (click)="verplaatsLagen()">Verplaats</button>
  </div>
  <awv-kaart-classic *ngIf="isZichtbaar('verplaats')" [naam]="'verplaats'" #verplaats>
    <awv-kaart-tilecache-laag [titel]="'Dienstkaart grijs'" [laagNaam]="'dienstkaart-grijs'"></awv-kaart-tilecache-laag>
    <awv-kaart-tilecache-laag [titel]="'Dienstkaart kleur'" [laagNaam]="'dienstkaart-kleur'"></awv-kaart-tilecache-laag>
    <awv-kaart-standaard-interacties></awv-kaart-standaard-interacties>
  </awv-kaart-classic>
</div>

<!--
<h3>Dienstkaart (meerdere lagen), volledige breedte + alle controls + locatiezoeker</h3>

<div>
  <input [(ngModel)]="locatieQuery" type="text"/>
  <button (click)="zoekLocaties(locatieQuery)">Zoek</button>
  <ul>
    <li>
      <p>Zet chrome open zonder web security om dit te testen.</p>
      <p>macos:</p>
      <pre>open -a Google\ Chrome --args --disable-web-security --user-data-dir</pre>
      <p>*nix:</p>
      <pre>chromium-browser --disable-web-security --user-data-dir</pre>
    </li>
  </ul>
  <awv-kaart>
    <awv-kaart-tilecache-laag [titel]="'Dienstkaart kleur'" [laagNaam]="'dienstkaart-kleur'" [type]="'base'"></awv-kaart-tilecache-laag>
    <awv-kaart-tilecache-laag [titel]="'Dienstkaart grijs'" [laagNaam]="'dienstkaart-grijs'" [type]="'base'" [zichtbaar]="false"></awv-kaart-tilecache-laag>
    <awv-kaart-ortho-laag [titel]="'Ortho'" [type]="'base'" [zichtbaar]="false"></awv-kaart-ortho-laag>
    <awv-kaart-geoserver-laag [titel]="'Ident8 labels (WDB)'" [laagNaam]="'ident8'" [versie]="'1.1.1'"></awv-kaart-geoserver-laag>
    <awv-kaart-geoserver-laag [titel]="'Referentiepunten (WDB)'" [laagNaam]="'referentiepunten'" [versie]="'1.1.1'"></awv-kaart-geoserver-laag>
    <awv-kaart-toon-features [features]="zoekresultaten"></awv-kaart-toon-features>
    <awv-kaart-schaal></awv-kaart-schaal>
    <awv-kaart-knop-laag-kiezer></awv-kaart-knop-laag-kiezer>
    <awv-kaart-knop-volledig-scherm></awv-kaart-knop-volledig-scherm>
    <awv-kaart-knop-zoom-slider></awv-kaart-knop-zoom-slider>
    <awv-kaart-standaard-knoppen></awv-kaart-standaard-knoppen>
    <awv-kaart-standaard-interacties></awv-kaart-standaard-interacties>
  </awv-kaart>
</div>
-->
