<div *ngIf="features.length > 0">
  <awv-kaart-classic [hoogte]="hoogte" [breedte]="breedte" [extent]="extent" [maxZoom]="15">
    <awv-kaart-tilecache-laag [titel]="'Dienstkaart grijs 2'" [laagNaam]="'dienstkaart-grijs'"></awv-kaart-tilecache-laag>
    <awv-kaart-geoserver-laag [titel]="'Referentiepunten (WDB) 2'" [laagNaam]="'referentiepunten'" [versie]="'1.1.1'"></awv-kaart-geoserver-laag>
    <awv-kaart-features-laag [minZoom]="0" [features]="adresFeatures" [titel]="'adressen'"></awv-kaart-features-laag>
    <awv-kaart-features-laag [minZoom]="0" [features]="percelenFeatures" [titel]="'percelen'"></awv-kaart-features-laag>
    <awv-kaart-features-laag [minZoom]="0" [features]="weglocatieFeatures" [titel]="'weglocaties'"></awv-kaart-features-laag>
    <awv-kaart-zoomknoppen></awv-kaart-zoomknoppen>
    <awv-kaart-standaard-interacties [focusVoorZoom]="true"></awv-kaart-standaard-interacties>
    <awv-kaart-schaal></awv-kaart-schaal>
  </awv-kaart-classic>
</div>
