@import "~material-design-icons/iconfont/material-icons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$menu-breedte: 320px;
$primary-text-color: #202124;
$secondary-text-color: rgba(0, 0, 0, 0.6);
$border-color: rgba(0, 0, 0, 0.08);
$border-color-darker: rgba(0, 0, 0, 0.24);
$background-color: #fafafa;
$background-hover-color: rgba(0, 0, 0, 0.04);
$primary-color: #3f51b5; //primary kleur van prebuilt-theme indigo-pink

body {
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: $background-color;
}

.zoeker-resultaat-icoon {
  color: $primary-color;
}

// Test-app styling
.test-app-menu, .test-app-content {
  .test-app-titel {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 24px;
    height: 40px;
    cursor: pointer;

    .material-icons {
      margin-right: 16px;
      border-radius: 24px;
      border: 1px solid $border-color;
      padding: 8px;
      color: $secondary-text-color;
    }

    &:hover {
      color: $primary-text-color;
      background: $background-hover-color;

      .material-icons {
        color: $primary-text-color;
        background-color: white;
        border-color: $border-color-darker;
      }
    }
  }

  .titel {
    height: 16px;
    font-size: 18px;
    font-weight: 500;
    padding: 24px;
    border-top: 1px solid $border-color-darker;
  }

  .sub-titel {
    font-size: 16px;
    font-weight: 300;
    padding: 12px 24px;
    border-top: 1px solid $border-color;
  }

  .titel, .sub-titel {
    z-index: 2;
    color: $secondary-text-color;
    cursor: pointer;
    display: flex;
    align-items: center;

    .material-icons {
      margin-left: 16px;
      border-radius: 24px;
      border: 1px solid transparent;
      padding: 4px;
      color: $secondary-text-color;

      &.niet-zichtbaar {
        color: transparent;
      }
    }

    &:hover {
      color: $primary-text-color;
      background: $background-hover-color;

      .material-icons {
        color: $primary-text-color;
        border-color: $border-color-darker;

        &.niet-zichtbaar {
          color: $primary-text-color;
        }
      }
    }
  }
}

.test-app-menu {
  z-index: 3;
  position: fixed;
  width: $menu-breedte;
  top: 0;
  left: 0;
  border-right: 1px solid $border-color-darker;
  height: 100%;
  color: $primary-text-color;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  background-color: $background-color;

  .test-app-titel {
    padding: 24px 16px;
  }

  .sub-titel .material-icons {
    margin-top: -8px;
    margin-bottom: -8px;
  }
}

.test-app-content {
  margin-left: $menu-breedte;
  border-bottom: 1px solid $border-color-darker;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  .content {
    z-index: 1;
    border-top: 1px solid $border-color;
    padding: 24px;
  }

  .sub-secties > .content {
    border-top: none;
    padding: 0;
  }

  .sub-content {
    font-size: 14px;
    color: $primary-text-color;
    padding-bottom: 16px;

    &.onder-kaart {
      margin-top: 24px;
    }

    &.opties {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .sub-content .optie-divider {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin: 16px 0 0 4px;
  }

  .sub-content .optie {
    margin: 4px;
    display: flex;
    align-items: center;

    &.niet-actief {
      color: $secondary-text-color;
    }

    &.actief {
      color: $primary-text-color;
      label {
        background-color: rgba(0, 0, 0, .04);
      }
    }

    label {
      border: 1px solid $border-color;
      border-radius: 2px;
      padding: 4px 16px 4px 8px;

      &:hover {
        border-color: $border-color-darker;
        background-color: rgba(0, 0, 0, .04);
        cursor: pointer;
      }
    }
  }

  .kaart {
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: white;
  }
}

@media only screen and (max-width: 1200px) {
  .test-app-content {
    margin-left: 0;
  }

  .test-app-menu {
    position: fixed;
    left: -$menu-breedte;
  }
}
