@import "../styles.scss";

.boven {
  order: 0;
}

.midden {
  order: 200;
}

.onder {
  order: 400;
}

.kaart-links-scrollbar-zichtbaar {
  .kaart-fixed-links-boven {
    background: $primary-color !important;

    .custom-kaart-fixed-links-boven {
      margin: 8px;
    }
  }
}

.custom-kaart-fixed-links-boven {
  margin: 8px 8px 0 8px;
}

.custom-kaart-links-extra {
  margin: 0 8px 8px 8px;
}

.custom-kaart-fixed-links-boven, .custom-kaart-links-extra {
  .custom-element {
    background: white;
    border-radius: 2px;
    padding: 0 16px;
    color: rgba(black, 0.6);
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 16px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    .material-icons {
      margin-right: 12px;
    }

    .custom-titel {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.cachewkt  {
  padding: 8px 8px 8px 0;
  width: 50%;
  &__textarea {
    width: 50%;
    height: 200px;
  }
  &__textarea_smaller {
    width: 15%;
    height: 210px;
  }
}

.with-padding {
  padding: 4px 0 4px 0;
}
