
.te-onteigenen {
  font-weight: bold;
  color: red;
}

.onteigend {
  font-weight: bold;
  color: #507B22;
}

.braakliggend {
  font-weight: bold;
  color: #443025;
}

.verhuurd {
  font-weight: bold;
  color: #CF9E50;
}

.kaart-wrapper {
  position: relative;
}

